/*-------------------------------------------*\
    Color Picker (XP)
\*-------------------------------------------*/

.color-picker {
    -webkit-font-smoothing: antialiased;
}

.color-swatch {
    border-radius: 0;
    border: 1px solid #d5d0c5;
    box-shadow: inset 1px 1px rgba(255, 255, 255, 0.9), inset -1px -1px rgba(127, 157, 185, 0.35);
    &.selected {
        border: 2px solid #000;
    }
}

.color-spectrum {
    border: 1px solid #7f9db9;
}

.color-luminance canvas {
    border: 1px solid #7f9db9;
}

.color-preview-chip {
    border: 1px solid #7f9db9;
}

.color-inputs {
    .color-input-row {
        input[type="number"] {
            border: 1px solid #7f9db9;
            height: 21px;
            box-sizing: border-box;
        }
    }
}

.color-picker-define-button:disabled {
    color: #aca899;
}
