/*-------------------------------------------*\
    Forms
\*-------------------------------------------*/

:root {
    --checkmark-width: 11px;
    --radio-dot-width: 5px;
    --radio-dot-top: 5px;
    --radio-width: 13px;
    --radio-inner-shadow-hover: inset -2px -2px #f8b636, inset 2px 2px #fedf9c;
    --radio-bg-active: linear-gradient(135deg, rgba(176, 176, 167, 1) 0%, rgba(227, 225, 210, 1) 100%);
    --radio-bg: linear-gradient(135deg, rgba(220, 220, 215, 1) 0%, rgba(255, 255, 255, 1) 100%);
    --radio-border: 1px solid #1d5281;
    --radio-border-disabled: 1px solid #cac8bb;
}

label,
select,
input,
textarea,
option {
    -webkit-font-smoothing: antialiased;
}

select {
    border: 1px solid #7f9db9;
    background-image: svg-load("./icon/dropdown.svg");
    background-size: 15px;
    &:focus {
        box-shadow: inset 2px 2px white, inset -2px -2px white;
    }
    &:hover {
        background-image: svg-load("./icon/dropdown-hover.svg");
    }
    &:active {
        background-image: svg-load("./icon/dropdown-active.svg");
    }
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    background: 0;
    position: fixed;
    opacity: 0;
    border: none;
    + {
        label {
            line-height: 16px;
            &::before {
                background: var(--radio-bg);
                border-radius: 50%;
                border: var(--radio-border);
            }
        }
    }
    &:not([disabled]):not(:active) {
        + label {
            &:hover:before {
                box-shadow: var(--radio-inner-shadow-hover);
            }
        }
    }
    &:active {
        + {
            label {
                &::before {
                    background: var(--radio-bg-active);
                }
            }
        }
    }
    &:checked {
        + {
            label {
                &::after {
                    background: svg-load("./icon/radio-dot.svg");
                }
            }
        }
    }
    &:focus {
        + {
            label {
                outline: 1px dotted #000000;
            }
        }
    }
}
input[type="radio"][disabled] {
    + {
        label {
            &::before {
                border: var(--radio-border-disabled);
                background: white;
            }
        }
    }
    &:checked {
        + {
            label {
                &::after {
                    background: svg-load("./icon/radio-dot-disabled.svg");
                }
            }
        }
    }
}
input[type="checkbox"] {
    + label {
        &:before {
            box-shadow: none;
            border: var(--radio-border);
            background: var(--radio-bg);
        }
    }
    &:checked + label {
        &:after {
            background: svg-load("./icon/checkmark.svg");
            left: -17px;
        }
    }
    &:not([disabled]):not(:active) {
        + label {
            &:hover:before {
                box-shadow: var(--radio-inner-shadow-hover);
            }
        }
    }
    &:active {
        + {
            label {
                &::before {
                    background: var(--radio-bg-active);
                }
            }
        }
    }
}

input[type="checkbox"][disabled] {
    + {
        label {
            &::before {
                background: white;
                border: var(--radio-border-disabled);
            }
        }
    }
    &:checked {
        + {
            label {
                &::after {
                    background: svg-load("./icon/checkmark-disabled.svg");
                }
            }
        }
    }
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    height: 23px;
}

input[type="color"] {
    border: 1px solid #003c74;
    border-radius: 3px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(236, 235, 229, 1) 86%,
        rgba(216, 208, 196, 1) 100%
    );
    box-shadow: none;
    &:not(:disabled):active {
        box-shadow: none;
        background: linear-gradient(
            180deg,
            rgba(205, 202, 195, 1) 0%,
            rgba(227, 227, 219, 1) 8%,
            rgba(229, 229, 222, 1) 94%,
            rgba(242, 242, 241, 1) 100%
        );
    }
    &:not(:disabled):hover {
        box-shadow: inset -1px 1px #fff0cf, inset 1px 2px #fdd889, inset -2px 2px #fbc761, inset 2px -2px #e5a01a;
    }
}

.combo-box {
    border: 1px solid #7f9db9;
    height: 23px;
    button {
        background: svg-load("./icon/dropdown.svg") no-repeat center;
        background-size: 15px;
        border: none;
        border-radius: 0;
        box-shadow: none;
        &:hover {
            background: svg-load("./icon/dropdown-hover.svg") no-repeat center;
            background-size: 15px;
            box-shadow: none;
        }
        &:active {
            background: svg-load("./icon/dropdown-active.svg") no-repeat center;
            background-size: 15px;
            box-shadow: none;
        }
    }
    &:focus-within {
        box-shadow: inset 2px 2px white, inset -2px -2px white;
    }
}

.spin-box {
    border: 1px solid #7f9db9;
    height: 23px;
    .spin-box-controls {
        background: white;
        border-radius: 3px;
        gap: 1px;
        button {
            background-color: transparent;
            box-shadow: none;
            border: none;
            border-radius: 3px;
            &.up {
                background: svg-load("./icon/spinbox-up.svg") no-repeat center;
                background-size: 15px 8px;
                &:hover {
                    background: svg-load("./icon/spinbox-up-hover.svg") no-repeat center;
                    background-size: 15px 8px;
                    box-shadow: none;
                }
                &:active {
                    background: svg-load("./icon/spinbox-up-active.svg") no-repeat center;
                    background-size: 15px 8px;
                    box-shadow: none;
                }
            }
            &.down {
                background: svg-load("./icon/spinbox-down.svg") no-repeat center;
                background-size: 15px 8px;
                &:hover {
                    background: svg-load("./icon/spinbox-down-hover.svg") no-repeat center;
                    background-size: 15px 8px;
                    box-shadow: none;
                }
                &:active {
                    background: svg-load("./icon/spinbox-down-active.svg") no-repeat center;
                    background-size: 15px 8px;
                    box-shadow: none;
                }
            }
        }
    }
    &:focus-within {
        box-shadow: inset 2px 2px white, inset -2px -2px white;
    }
    &[disabled],
    &.disabled {
        border-color: #c9c7ba;
        background-color: #ece9d8;
        input {
            color: #aca899;
            text-shadow: 1px 1px 0 white;
        }
        .spin-box-controls button {
            opacity: 1;
            &.up {
                background: svg-load("./icon/spinbox-up.svg") no-repeat center;
                background-size: 15px 8px;
                filter: saturate(0) brightness(1.1);
            }
            &.down {
                background: svg-load("./icon/spinbox-down.svg") no-repeat center;
                background-size: 15px 8px;
                filter: saturate(0) brightness(1.1);
            }
        }
    }
}

input::selection,
textarea::selection {
    background: var(--dialog-blue);
    color: white;
}

input[type="range"] {
    &::-webkit-slider-thumb {
        height: 21px;
        width: 11px;
        background: svg-load("./icon/indicator-horizontal.svg");
        transform: translateY(-8px);
    }
    &::-moz-range-thumb {
        height: 21px;
        width: 11px;
        border: 0;
        border-radius: 0;
        background: svg-load("./icon/indicator-horizontal.svg");
        transform: translateY(2px);
    }
    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 2px;
        box-sizing: border-box;
        background: #ecebe4;
        border-right: 1px solid #f3f2ea;
        border-bottom: 1px solid #f3f2ea;
        border-radius: 2px;
        box-shadow: 1px 0 0 white, 1px 1px 0 white, 0 1px 0 white, -1px 0 0 #9d9c99, -1px -1px 0 #9d9c99,
            0 -1px 0 #9d9c99, -1px 1px 0 white, 1px -1px #9d9c99;
    }
    &::-moz-range-track {
        width: 100%;
        height: 2px;
        box-sizing: border-box;
        background: #ecebe4;
        border-right: 1px solid #f3f2ea;
        border-bottom: 1px solid #f3f2ea;
        border-radius: 2px;
        box-shadow: 1px 0 0 white, 1px 1px 0 white, 0 1px 0 white, -1px 0 0 #9d9c99, -1px -1px 0 #9d9c99,
            0 -1px 0 #9d9c99, -1px 1px 0 white, 1px -1px #9d9c99;
    }
}
input[type="range"].has-box-indicator {
    &::-webkit-slider-thumb {
        background: svg-load("./icon/indicator-rectangle-horizontal.svg");
        transform: translateY(-10px);
    }
    &::-moz-range-thumb {
        background: svg-load("./icon/indicator-rectangle-horizontal.svg");
        transform: translateY(0px);
    }
}
.is-vertical {
    > input[type="range"] {
        &::-webkit-slider-runnable-track {
            border-left: 1px solid #f3f2ea;
            border-right: 0;
            border-bottom: 1px solid #f3f2ea;
            box-shadow: -1px 0 0 white, -1px 1px 0 white, 0 1px 0 white, 1px 0 0 #9d9c99, 1px -1px 0 #9d9c99,
                0 -1px 0 #9d9c99, 1px 1px 0 white, -1px -1px #9d9c99;
        }
        &::-moz-range-track {
            border-left: 1px solid #f3f2ea;
            border-right: 0;
            border-bottom: 1px solid #f3f2ea;
            box-shadow: -1px 0 0 white, -1px 1px 0 white, 0 1px 0 white, 1px 0 0 #9d9c99, 1px -1px 0 #9d9c99,
                0 -1px 0 #9d9c99, 1px 1px 0 white, -1px -1px #9d9c99;
        }
    }
}
