/*-------------------------------------------*\
    XP Icons
\*-------------------------------------------*/

.xp-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: currentColor;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    vertical-align: middle;
    flex-shrink: 0;
}

.xp-icon-power {
    -webkit-mask-image: svg-load("./icon/power.svg");
    mask-image: svg-load("./icon/power.svg");
}

.xp-icon-logoff {
    width: 16px;
    height: 16px;
    -webkit-mask-image: svg-load("./icon/logoff.svg");
    mask-image: svg-load("./icon/logoff.svg");
}
