    <h2 id="issues-contributing-etc">Issues, Contributing, etc.</h2>

    <p>
      XP.css is <a href="https://github.com/botoxparty/XP.css/blob/main/LICENSE">MIT licensed</a>.
    </p>

    <p>
      Refer to <a href="https://github.com/botoxparty/XP.css/issues">the GitHub issues page</a> to see bugs
      in my CSS or report new ones. Also check the <a href="https://github.com/jdan/98.css/issues">issues for
        98.css</a>.
    </p>

    <p>
      XP.css started as a fork of <a href="https://github.com/jdan/98.css">98.css</a> (a fun project started by <a
        href="https://thatjdanisso.cool">Jordan
        Scales</a>)
      and is now trying to boilerplate the GUI to be able to theme it easily.
      <br>
      If you want to make a theme or contribute i'd love to see where you can take this!
    </p>

    <p>
      Hopefully you've enjoyed this project! 🍸
      Consider
      <a href="https://github.com/botoxparty/xp.css/stargazers">starring/following along on GitHub</a> and following me
      on <a href="https://twitter.com/botoxparty">Twitter</a>.
    </p>