<!doctype html>
<html>

<head>
  <title>XP.css - A design system for building faithful recreations of old UIs</title>
  <link rel="Shortcut Icon" type="image/x-icon" href="icon.png" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta property="og:title" content="XP.css" />
  <meta name="Description" content="A design system for building faithful recreations of old UIs." />
  <meta property="og:description" content="A design system for building faithful recreations of old UIs." />
  <meta property="og:image" content="https://github.com/botoxparty/XP.css/raw/main/docs/window.png?raw=true" />

  <link id="theme-stylesheet" rel="stylesheet" href="XP.css">
  <link rel="stylesheet" href="docs.css">
  <link rel="stylesheet" href="vs.css">
</head>