  <aside>
    <ul class="tree-view">
      <li><a href="#intro">Intro</a></li>
      <li>
        <a href="#components">Components</a>
        <ul>
          <li><a href="#button">Button</a></li>
          <li><a href="#checkbox">Checkbox</a></li>
          <li><a href="#option-button">OptionButton</a></li>
          <li><a href="#tabs">Tabs</a></li>
          <li><a href="#group-box">GroupBox</a></li>
          <li><a href="#text-box">TextBox</a></li>
          <li><a href="#slider">Slider</a></li>
          <li><a href="#dropdown">Dropdown</a></li>
          <li><a href="#combo-box">ComboBox</a></li>
          <li><a href="#spin-box">SpinBox</a></li>
          <li><a href="#menus">Menus</a></li>
          <li>
            <a href="#window">Window</a>
            <ul>
              <li><a href="#title-bar">Title Bar</a></li>
              <li><a href="#control-button">Control Button</a></li>
              <li><a href="#menu-bar">Menu Bar</a></li>
              <li><a href="#ribbon">Ribbon</a></li>
              <li><a href="#window-contents">Window contents</a></li>
              <li><a href="#status-bar">Status Bar</a></li>
              <li><a href="#inactive-windows">Inactive Windows</a></li>
            </ul>
          </li>
          <li><a href="#tree-view">TreeView</a></li>
          <li><a href="#progress-bar">ProgressBar</a></li>
          <li><a href="#inactive-windows">Inactive Windows</a></li>
          <li><a href="#taskbar">Taskbar</a></li>
          <li><a href="#table">Table</a></li>
          <li><a href="#tooltip">Tooltip</a></li>
          <li><a href="#balloon-tips">Balloon Tips</a></li>
          <li><a href="#color-picker">Color Picker</a></li>
          <li><a href="#icon-thumbnail">Icon &amp; Thumbnail</a></li>
          <li>
            <a href="#explorer-panel">Explorer Side Panel</a>
            <ul>
              <li><a href="#explorer-panel-primary">Primary Variant</a></li>
              <li><a href="#explorer-panel-default">Default Variant</a></li>
              <li><a href="#explorer-panel-combined">Combined Example</a></li>
            </ul>
          </li>
          <li><a href="#icons">Icons</a></li>
          <li><a href="#turn-off-dialog">Turn Off Dialog</a></li>
        </ul>
      </li>
      <li><a href="#issues-contributing-etc">Issues, Contributing, etc.</a></li>
    </ul>
  </aside>