  <div class="theme-switcher">
    <section class="field-row">
      <label>Select a theme</label>
      <select id="theme-switcher-select">
        <option value="XP.css">Windows XP</option>
        <option value="98.css">Windows 98</option>
      </select>
    </section>
  </div>