    <div class="component">
      <h3 id="balloon-tips">Balloon Tips</h3>
      <div>
        <p>More elegant than toast notifications.</p>

        <div class="balloon-tip" style="width: 250px;">
          <div class="balloon-titlebar">
            <img src="" alt="" class="balloon-icon">
            <div class="balloon-title">Hey you!</div>
            <button aria-label="close"></button>
          </div>
          <div class="balloon-body">Insert Zelda reference here.</div>
        </div>
      </div>
      
    </div>