    <section class="component">
      <h3 id="menus">Menus</h3>
        <div>
          <blockquote>
            <em>Menus</em> display a list of commands available to the user. Because menus make commands visible and discoverable, you can use them to leverage the greater capacity people have for recognizing commands than for remembering them.

            <footer>
              &mdash; Microsoft Windows User Experience p. 107
            </footer>
          </blockquote>
          <p>Context menus are implmented by assiging the <code>role="menu"</code> to a parent.</p>
          
          <p>Popup menus can be created by adding the attribute <code>aria-haspopup="true"</code>, and  child <code>&lt;ul&gt;</code> element with the <code>menu</code> role. Note that popup menus require either the <code>tabindex="0"</code> attribute or an <code>&lt;a&gt;</code> nchor link to maintain focus.</p>

          <p>For a horizontal divider, use the class name <code>has-divider</code>.</p>

          <p>Checkmarks and radio buttons require the relevant <code>&lt;input&gt;</code> types.</p>

          <p>Icons can be implemented with an <code>img</code> tag. <code>12px</code> seems to be the sweet spot here.</p>

          <p>Displayed shortcuts are contained within a <code>span</code> as a child of the <code>li</code>st element.</p>
          <%- example(`
            <div class="menu" style="width: 200px">
              <ul role="menu">
                <li role="menuitem" tabindex="0" class="bold">Bold</li>
                <li role="menuitem" tabindex="0" aria-haspopup="true">Has Popup
                  <ul role="menu" style="width: 200px">
                    <li role="menuitem">uh....</li>
                    <li role="menuitem">what are you doing here?</li>
                  </ul>
                </li>
                <li role="menuitem" tabindex="0" class="has-divider">With Shortcut <span>Ctrl+W</span></li>
                <li role="menuitem" tabindex="0" aria-disabled="true">Disabled</li>
                <li role="menuitem" class="has-divider"><img src="https://img.icons8.com/fluency/12/like.png" aria-info="from icons8.com"/>With a cool icon!</li>
                <li role="menuitem">
                  <input type="checkbox" id="check1" name="check1" />
                  <label for="check1">Check, check it out</label>
                </li>
                <li role="menuitem" class="has-divider">
                  <input type="checkbox" id="check2" name="check2" />
                  <label for="check2">I'm checking in</label>
                </li>
                <li role="menuitem">
                  <input type="radio" name="menu-example" id="radio${getNewId()}" />
                  <label for="radio${getCurrentId()}">Video killed</label>
                </li>
                <li role="menuitem">
                  <input type="radio" name="menu-example" id="radio${getNewId()}" />
                  <label for="radio${getCurrentId()}">The radio star</label>
                </li>
                <li role="menuitem">
                  <input type="radio" name="menu-example" id="radio${getNewId()}" />
                  <label for="radio${getCurrentId()}">Radio Gaga</label>
                </li>
              </ul>
            </div>
          `) %>
        <blockquote>
            However, be aware that cascading menus add complexity to the menu interface by requiring theuser to navigate further through the menu structure to get to a particular choice. 

          <footer>
            &mdash; Microsoft Windows User Experience p. 116
          </footer>
        </blockquote>
        </div>
    </section>

    <section class="component">
      <h3 id="start-menu-submenu-flyout">Start Menu Submenu Flyout</h3>
      <div>
        <p>This is the <code>start-menu-submenu</code> flyout component used inside the full Start menu, shown open on its own. Every entry uses one of the library's built-in CSS icons via <code>start-menu-submenu-item-icon</code> (<code>--internet</code>, <code>--pinball</code>, <code>--cards-red</code>/<code>-purple</code>/<code>-blue</code>/<code>-gold</code>, <code>--mine</code>) &mdash; no external images. The <em>Internet Games</em> item cascades into a second-level submenu on hover or focus.</p>

        <p>Add the <code>start-menu--flyout-demo</code> modifier to a <code>start-menu</code> element to render the submenu standalone, without the full menu panel chrome. Nested submenus are created by giving a <code>start-menu-submenu-item</code> its own child <code>start-menu-submenu</code>.</p>

        <%- example(`
          <div class="start-menu start-menu--flyout-demo">
            <div class="start-menu-submenu">
              <div class="start-menu-submenu-sidebar" aria-hidden="true"></div>
              <div class="start-menu-submenu-items" role="menu" aria-label="Games">
                <div class="start-menu-submenu-item" role="menuitem" tabindex="0" aria-haspopup="true">
                  <span class="start-menu-submenu-item-icon start-menu-submenu-item-icon--internet" aria-hidden="true"></span>
                  <span>Internet Games</span>
                  <span class="start-menu-submenu-item-arrow" aria-hidden="true"></span>
                  <div class="start-menu-submenu">
                    <div class="start-menu-submenu-sidebar" aria-hidden="true"></div>
                    <div class="start-menu-submenu-items" role="menu" aria-label="Internet Games">
                      <div class="start-menu-submenu-item" role="menuitem" tabindex="0">
                        <span class="start-menu-submenu-item-icon start-menu-submenu-item-icon--internet" aria-hidden="true"></span>
                        <span>Internet Backgammon</span>
                      </div>
                      <div class="start-menu-submenu-item" role="menuitem" tabindex="0">
                        <span class="start-menu-submenu-item-icon start-menu-submenu-item-icon--internet" aria-hidden="true"></span>
                        <span>Internet Checkers</span>
                      </div>
                      <div class="start-menu-submenu-item" role="menuitem" tabindex="0">
                        <span class="start-menu-submenu-item-icon start-menu-submenu-item-icon--internet" aria-hidden="true"></span>
                        <span>Internet Hearts</span>
                      </div>
                      <div class="start-menu-submenu-item" role="menuitem" tabindex="0">
                        <span class="start-menu-submenu-item-icon start-menu-submenu-item-icon--internet" aria-hidden="true"></span>
                        <span>Internet Reversi</span>
                      </div>
                      <div class="start-menu-submenu-item" role="menuitem" tabindex="0">
                        <span class="start-menu-submenu-item-icon start-menu-submenu-item-icon--internet" aria-hidden="true"></span>
                        <span>Internet Spades</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="start-menu-submenu-item" role="menuitem" tabindex="0">
                  <span class="start-menu-submenu-item-icon start-menu-submenu-item-icon--pinball" aria-hidden="true"></span>
                  <span>Pinball</span>
                </div>
                <div class="start-menu-submenu-item" role="menuitem" tabindex="0">
                  <span class="start-menu-submenu-item-icon start-menu-submenu-item-icon--cards-red" aria-hidden="true"></span>
                  <span>Solitaire</span>
                </div>
                <div class="start-menu-submenu-item" role="menuitem" tabindex="0">
                  <span class="start-menu-submenu-item-icon start-menu-submenu-item-icon--cards-purple" aria-hidden="true"></span>
                  <span>Spider Solitaire</span>
                </div>
                <div class="start-menu-submenu-item" role="menuitem" tabindex="0">
                  <span class="start-menu-submenu-item-icon start-menu-submenu-item-icon--cards-blue" aria-hidden="true"></span>
                  <span>FreeCell</span>
                </div>
                <div class="start-menu-submenu-item" role="menuitem" tabindex="0">
                  <span class="start-menu-submenu-item-icon start-menu-submenu-item-icon--cards-gold" aria-hidden="true"></span>
                  <span>Hearts</span>
                </div>
                <div class="start-menu-submenu-item" role="menuitem" tabindex="0">
                  <span class="start-menu-submenu-item-icon start-menu-submenu-item-icon--mine" aria-hidden="true"></span>
                  <span>Minesweeper</span>
                </div>
              </div>
            </div>
          </div>
        `) %>
      </div>
    </section>
