    <section class="component">
      <h3 id="progress-bar">ProgressBar</h3>
      <div>
        <blockquote>
          With a <em>progress bar</em>, users can follow the progress
          of a lengthy operation. A progress bar may either show an approximate
          percentage of completion (determinate) or indicate that an operation is
          ongoing (indeterminate)
          <footer>
              &mdash; <a href="https://learn.microsoft.com/en-us/windows/win32/uxguide/progress-bars">Microsoft Windows
            User Experience - Progress Bars</a>
          </footer>
        </blockquote>

        <p>
          To render a progress bar, use a <code>&lt;progress&gt;</code> element.
        </p>

        <p>
          The <code>max</code> attribute describes how much work the task indicated by the progress element requires, if present, must have a value greater than 0 and be a valid floating point number. The default value is 1.
        </p>

        <p>
          The <code>value</code> attribute specifies how much of the task that has been completed. It must be a valid floating point number between 0 and max, or between 0 and 1 if max is omitted.
        </p>

        <%- example(`
          <progress max="100" value="70"></progress>
        `) %>

        <p>
          If there is no <code>value</code> attribute, the progress bar is indeterminate; this indicates that an activity is ongoing with no indication of how long it is expected to take.
        </p>

        <%- example(`
          <progress></progress>
        `) %>

      </div>
    </section>