    <section class="component">
      <h3 id="tooltip">Tooltip</h3>
      <div>
        <blockquote>
          A <em>tooltip</em> is a small pop-up window that displays a brief
          description of a control's function.

          <footer>
            &mdash; Microsoft Windows User Experience p. 162
          </footer>
        </blockquote>

        <p>
          Tooltips can be rendered using the <code>tooltip</code> class
          or the <code>role="tooltip"</code> attribute.
        </p>

        <%- example(`
          <div class="tooltip">Help description</div>
        `) %>
      </div>
    </section>